<center>
	<div>
 ---------------------------------------------------<br>
Calculating advanced bowling metrics<br>
Analyzing :gesture:-ability<br>
Double checking some bullshit<br>
---------------------------------------------------<br>
This week's bowlers are:<br>
</div>

<% bowlers_array = params[:bowlers] %>
<%=	pp bowlers_array.sample(4) %>

</center>