<center>
	<h1> Bowlers? </h1>

<form action="/results" method="post" name="checkbox_form">
  
  <input type="checkbox" name="bowlers[]" value="Jessie"> Jessie<br>
  <input type="checkbox" name="bowlers[]" value="Jackson"> Jackson<br>
  <input type="checkbox" name="bowlers[]" value="Alyshah"> Alyshah<br>
  <input type="checkbox" name="bowlers[]" value="Austin"> Austin<br>
  <input type="checkbox" name="bowlers[]" value="Cameron"> Cameron<br>
  <input type="checkbox" name="bowlers[]" value="Simone"> Simone<br>
      <input type="submit" value="Show me who's bowlin" />

</form>

</center>